{{ define "index" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <style>
        .table th:first-child,
        .table td:first-child {
            width: 20% !important;
            text-align: left;
            border-right: solid 1px #ccc;
        }

        .table th,
        .table td {
            width: 10%;
            text-align: center !important;
        }
    </style>
</head>

<body>
    <div class="container is-max-desktop">
        <section class="hero">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <h1 class="navbar-item title is-2">{{ .NavTitle.HTML }}</h1>
                        </div>
                        <div class="navbar-menu">
                            <div class="navbar-end">
                                <span class="navbar-item">
                                    <span class="button is-small"><a class="navbar-item" href="{{ .NavButtonLink }}">
                                            {{ .NavButtonName }}
                                        </a></span></span>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </section>

        <div class="block" style="border-bottom: solid 1px #ccc;"></div>

        {{ if ne .HeaderMessage.Plain "" }}
        <div class="block">
            <div class="notification">
                <div class="content">
                    {{ .HeaderMessage.HTML }}
                </div>
            </div>
        </div>
        {{ end }}

        {{ range .Categories }}
        <div class="block">
            <section class="section is-small" style="padding: 2rem 0.5rem 1rem;">
                <h2 class="title is-4">{{ .Name }}</h2>
                {{ if ne .Comment "" }}<p class="subtitle is-6">{{ .Comment }}</p>{{ end }}
            </section>
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>
                        </th>
                        {{ range $.Days }}
                        <th>
                            {{ . }}</td>
                            {{ end }}
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                        </th>
                        {{ range $.Days }}
                        <th>
                            {{ . }}</td>
                            {{ end }}
                    </tr>
                </tfoot>
                <tbody>
                    {{ range .Services }}
                    <tr>
                        <th class="is-vcentered">
                            {{ .Name }}</th>
                        <td title='[{{ .LatestStatus }}] {{ .LatestStatusAt.Format "2006-01-02 15:04:05 MST" }}'
                            class="is-vcentered">
                            <span
                                class='is-size-4 has-{{ if .LatestStatus.IsOperational }}text-success{{ else if .LatestStatus.IsWarning }}text-warning{{ else }}text-light{{ end }}'>
                                {{ if .LatestStatus.IsOperational }}🟢{{ else if .LatestStatus.IsWarning }}⚠️{{
                                else
                                }}➖{{ end }}
                            </span>
                        </td>
                        {{ range .StatusHistory }}
                        <td class="is-vcentered">
                            <span
                                class='is-size-4 has-{{ if .IsOperational }}text-success{{ else if .IsWarning }}text-warning{{ else }}text-light{{ end }}'>
                                {{ if .IsOperational }}🟢{{ else if .IsWarning }}⚠️{{ else
                                }}➖{{ end }}
                            </span>
                        </td>
                        {{ end }}
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
        {{ end }}

        {{ if ne .FooterMessage.Plain "" }}
        <div class="block" style="margin-top: 50px;">
            <div class="notification">
                <div class="content">
                    {{ .FooterMessage.HTML }}
                </div>
            </div>
        </div>
        {{ end }}

        <div class="block">
            <div class="content has-text-centered">
                <p>Last updated at {{ .LastUpdatedAt.Format "2006-01-02 15:04:05 MST" }}</p>
            </div>
        </div>

        <footer class="footer is-small" style="padding: 1rem;">
            <div class="content has-text-centered">
                {{ .PoweredBy.HTML }}
            </div>
        </footer>
    </div>
</body>

</html>
{{ end }}